@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');


h1,
h2,
h3,
p
{
    
    font-family: 'Stick', sans-serif;
}
h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -2px;
    text-transform: uppercase;
    padding: 10px 20px 30px 25px;
}
h1 strong{
color: turquoise;
}

p{
    color: white;
}

.heroe {
    text-transform: uppercase;
    height: 390px;
    background-image: url('../imagen/portada.png');
    background-color: #1b2127 ;
    background-size: 700px 400px;
    background-repeat: no-repeat;
    background-position-x: 630px;
    color: white;
    border-top: 10px ridge blueviolet;
    border-right: 10px ridge blueviolet;
    border-left: 10px ridge blueviolet;
    border-bottom: 10px ridge blueviolet;
    }


.experiencia{
    color: white;
    background-color: #1b2127;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -2px;
    text-transform: uppercase;
    padding: 10px 20px 30px 25px;
    border-top: 10px ridge blueviolet;
    border-right: 10px ridge blueviolet;
    border-left: 10px ridge blueviolet;
    border-bottom: 10px ridge blueviolet;
}

.Cosas-nombre{
    border-bottom: 10px ridge blueviolet ;
}
.Cosas {
    color: white;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -2px;
    text-transform: unset;
    padding: 10px 20px 30px 25px;
    background-color: #1b2127;
    border-top: 10px ridge blueviolet;
border-right: 10px ridge blueviolet;
border-left: 10px ridge blueviolet;
border-bottom: 10px ridge blueviolet;
}

.Cosas {
    border-top: 10px ridge blueviolet
}
.Cosas-cf {
    width: 500px;
}
.Cosas-comida {
    width: 300px;
}

.header {
    background-color: #1b2127;
    color: white
}


.menu {
    font-size: 19px;
    line-height: 1.5;
    letter-spacing: -2px;
    text-transform: uppercase;
    padding: 10px 20px 30px 25px;
color: white ;
}

.experiencia-imagen{
    border: 10px ridge white;
}


.Cosas-comida
{
    border: 10px ridge white;
}

.final{
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: -2px;
    text-transform: uppercase;
    padding: 10px 20px 30px 25px;
    background-color: #1b2127;
    border-top: 10px ridge blueviolet;
    border-right: 10px ridge blueviolet;
    border-left: 10px ridge blueviolet;
    border-bottom: 10px ridge blueviolet;
    color: white
}




